.simple-lightbox {
    background-color: rgba(46, 47, 66, 0.8);
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 24px;
    /* gap: 24px; */
    align-items: center;
    justify-self: center;
    margin-top: 24px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 360px);
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 360px);
  }
}
/* .gallery-item {
    max-width: 360px; 
} */
.gallery-image {
    width: 360px;
    height: 200px;
    object-fit: cover;
    object-position: 100% 20%;
}